<h1>Dashboard</h1>
<% if current_user %>
  <%= button_to 'Wyloguj sie', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Zaloguje sie', user_session_path %>
<% end %>

<hr>
<%= button_to 'Pobierz oferty', searches_path %>
