<nav class="shadow">
  <ul class="flex mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <li>
      <%= link_to 'Wyszukiwanie', search_path(search),
                  class: "inline-block hover:text-primary-700 font-medium p-3 px-4 hover:border-blue-600 hover:border-b-2
                  #{"border-blue-600 border-b-2 text-primary-700" if request.path =~ /\/searches\/\d+$/ }" %>
    </li>
    <li>
      <%= link_to 'Produkty', search_products_path(search),
                  class: "inline-block hover:text-primary-700 font-medium p-3 px-4 hover:border-blue-600 hover:border-b-2
                  #{"border-blue-600 border-b-2 text-primary-700" if request.path =~ /\/searches\/\d+\/products$/ }" %>
    </li>
  </ul>
</nav>
