<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <%= content_tag :h1, "Edytuj: #{search.name}", class: 'text-3xl font-bold tracking-tight text-gray-900' %>
  </div>
</header>

<%= render 'form', search: %>

<br>

<div>
  <%= link_to 'Show this search', search %> |
  <%= link_to 'Back to searches', searches_path %>
</div>
